div {
	border: 1px solid black;
}

.container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.topPanel {
	flex-basis: 100%;
/*	display: block;*/
	width: 100%;
}

.grow {
	flex-grow: 1;
}

.grow2 {
	flex-grow: 2;
}

.grow3 {
	flex-grow: 3;
}

#squaresContainer {
	color: blue;
}

.space-evenly {
	justify-content: space-evenly;
}